<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a software developer who builds awesome stuff, with a wide experience
      in building customer-based solutions for digital needs using mind-blowing
      technologies.
    </p>
    <p>
      I am also a DevOps Enthusiast with a passion for automation and an
      open-source hobbyist, in my free time, I write a lot of
      <a href="http://fullstackgcp.com" target="_blank">
        Google Cloud related tutorials
      </a>
      and make open
      <a href="https://github.com/timtech4u" target="_blank">
        contributions on GitHub </a
      >.
    </p>
    <p>
      I am an active member of various developers communities, where I focus on
      making impacts and sharing my experiences whilst learning.
    </p>

    <p>
      Being a full-stack engineer, my goal is to always build applications that
      are scalable and efficient under the hood while providing engaging,
      adaptive, eye-candy user experiences. On the other hand, community gives
      me a platform to share complementary ideas with my peers and accelerate
      the process of crafting better solutions without being distracted by the
      buzz, glitz and opportunities that seem to exist.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably
      talking at a
      <a href="https://dscbuk.club" target="_blank">tech meetup</a>, hanging out
      or giving free therapy to a friend.
    </p>
  </div>
</section>
