<section class="section background">
    <div class="section__title">Background</div>
    <div class="section__content">
        <p>
            I'm a third year CS student expecting to graduate in December 2019. I love learning new and better ways to create seamless user
            experiences with clean, efficient, and scalable code. I'm always
            looking for opportunities to work with those who are willing to <a href="https://gdgkenya.org">share their knowledge</a>
            as much as I want to learn to bring out the best in me.
        </p>

        <p>Being a full-stack engineer, I enjoy bridging the gap between front-end & back-end development &mdash;
            combining my technical knowledge with my keen eye for design to create a beautiful product. My goal is to
            always build applications that are scalable and efficient under the hood while providing engaging, adaptive,
            eye-candy user experiences..</p>

        <p>
            <strong>When I'm not in front of a computer screen</strong>, I'm probably talking at a <a href="https://meetup.com/GDG-Kisii" >tech meetup</a>, having a
            pep talk with my bff or giving free therapy to a cool friend.</p> 
    </div>
</section>
