<section class="section featured-projects">
    <div class="section__title">Featured Projects</div>
    <div class="section__content">
        <div class="project tictactoe">
            <figure class="project__pic">
                <a href="http://bit.ly/cersng" target="_blank">
                    <img src="{{site.baseurl}}/img/featured/cers.png" alt="CERS">
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <a href="http://bit.ly/cersng" target="_blank">
                        CERS</a>
                </div>
                <p> CERS is a crowd sourced emergency reporting system, built to enable people share real time emergencies, across Nigeria using a simple offline-based USSD Interface.  
                The Emergency is immediately relayed to Response teams, Social media, and Local authorities and can be viewed through a real-time web dashboard.
                </p>
                <p>Check out CERS Videos</p> 
                <a href="https://www.youtube.com/channel/UC2SNzFVhYNo4kIbUU0DArVg?view_as=subscriber" target="_blank"><img
                        class="playstore" src="https://upload.wikimedia.org/wikipedia/commons/b/b8/YouTube_Logo_2017.svg"
                        alt="Demo on Youtube"></a>
            </figcaption>
        </div>
        <br>
        <div class="project tictactoe">
            <figure class="project__pic">
                <a href="https://medium.com/@timtech4u/team-kano-magenta-3rd-place-winners-of-uspf-changemakers-challenge-2017-5cf7e0e62e6f" target="_blank">
                    <img src="{{site.baseurl}}/img/featured/garuwa.png" alt="Garuwa">
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <a href="https://play.google.com/store/apps/details?id=appinventor.ai_timothyolaleke.Garuwa" target="_blank">
                        Garuwa</a>
                </div>
                <p>An android application that allows consumers to access safer clean water from water vendors. </p>
                <p>3rd place winner of USPF 2017</p> 
                <a href="https://play.google.com/store/apps/details?id=appinventor.ai_timothyolaleke.Garuwa" target="_blank"><img
                        class="playstore" src="{{site.baseurl}}/img/featured/playstore.svg"
                        alt="Garuwa on PlayStore"></a>
            </figcaption>
        </div>
        <br>
        <div class="project pace2d">
            <figure class="project__pic">
                <a href="http://hostspaceng.com" target="_blank">
                    <img src="{{site.baseurl}}/img/featured/hostspace.png" alt="HostSpace">
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <a href="http://hostspaceng.com" target="_blank">
                        HostSpaceNG</a>
                </div>
                <p>Providing Affordable and Reliable Hosting Services </p>
            </figcaption>
        </div>


    </div>
</section>
