<section class="section featured-projects">
    <div class="section__title">Featured Projects</div>
    <div class="section__content">

        <div class="project reminders">
            <figure class="project__pic">
                <a href="https://play.google.com/store/apps/details?id=appinventor.ai_timothyolaleke.Garuwa" target="_blank">
                    <div class="phone">
                        <img src="{{site.baseurl}}/img/featured/garuwa.png" alt="Garuwa" width="1200px" height="750px">
                    </div>
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <a href="https://play.google.com/store/apps/details?id=app.kelvinkamau.reminders"
                       target="_blank"><img class="smally" src="img/googleplay.png" height="17px" width="17px"
                                            style="padding-right: 2px">Garuwa</a>
                </div>
                <p>An android application that allows consumers to access safer clean water from water vendors. </p>
                <p>3rd place winner of USPF 2017</p> 
                <a href="https://play.google.com/store/apps/details?id=appinventor.ai_timothyolaleke.Garuwa" target="_blank"><img
                        class="playstore" src="{{site.baseurl}}/img/featured/playstore.svg"
                        alt="Garuwa on PlayStore"></a>
            </figcaption>
        </div>

        <!-- <div class="project tictactoe">
            <figure class="project__pic">
                <a href="https://www.kelvinkamau.app/tictactoe/" target="_blank">
                    <img src="{{site.baseurl}}/img/featured/attc/ttc.png" alt="TTC">
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <a href="https://www.kelvinkamau.app/tictactoe/" target="_blank">
                        tictactoe</a>
                </div>
                <p>A fun and interactive web game of tic-tac-toe in progressive web app where a user plays against the
                    computer. Find the source code <a href="https://github.com/kelvinkamau/tictactoe" target="_blank">here</a> </p>
            </figcaption>
        </div>

        <div class="project pace2d">
            <figure class="project__pic phones">
                <a href="https://play.google.com/store/apps/details?id=app.kelvinkamau.pace2d" target="_blank">
                    <div class="phone">
                        <img src="{{site.baseurl}}/img/featured/pace/pace1.png" alt="Pace2D">
                    </div>
                    <div class="phone">
                        <img src="{{site.baseurl}}/img/featured/pace/pace2.png" alt="Pace2D">
                    </div>
                    <div class="phone">
                        <img src="{{site.baseurl}}/img/featured/pace/pace3.png" alt="Pace2D">
                    </div>
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <a href="https://play.google.com/store/apps/details?id=app.kelvinkamau.pace2d" target="_blank"><img
                            class="smally" src="img/googleplay.png" height="17px;" width="17px"
                            style="padding-right: 2px;">Pace2D Game</a>
                </div>
                <p>A minimalistic game where you control a block to evade the falling obstacles.</p>
                <a href="https://play.google.com/store/apps/details?id=app.kelvinkamau.pace2d" target="_blank"><img
                        class="playstore" src="{{site.baseurl}}/img/featured/playstore.svg"
                        alt="Reminders on PlayStore"></a>
            </figcaption>
        </div> -->

    </div>
</section>
