<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://www.kelvinkamau.app/AunderwinceTicTacToe/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/attc/ttc.png" alt="TTC">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.kelvinkamau.app/AunderwinceTicTacToe/" target="_blank">Aunderwince TicTacToe</a>
        </div>
        <p>A fun and interactive JS game of tic tac toe in progressive web app where a user plays against the computer.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=com.techyard.www.typuzzle" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/pace/pace1.png" alt="Pace">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/pace/pace2.png" alt="Pace">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/pace/pace3.png" alt="Pace">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://play.google.com/store/apps/details?id=com.techyard.www.typuzzle" target="_blank">Pace Android Game</a>
        </div>
        <p>A minimalistic obstacle game for android built on pure Java. Have fun.</p>
      </figcaption>
    </div>



    <div class="project v2">
      <figure class="project__pic phones">
        <a href="https://github.com/kelvinkamau/Ruka" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/ruka/ruka1.png" alt="Ruka">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/ruka/ruka2.png" alt="Ruka">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/ruka/ruka3.png" alt="Ruka">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://odltg.org/about-the-project/" target="_blank">Ruka Kamba Android Game</a>
        </div>
        <p>Android App developed for UNESCO program Creating an Open Digital Library for Traditonal Games</p>
      </figcaption>
    </div>
  </div>
</section>
