<style type="text/css">
    @media only screen and (min-width: 768px) {
        .sharethis-inline-reaction-buttons {
            float: left;
            width: 20%;
        }
    }
    @media only screen and (max-width: 768px) {
        .sharethis-inline-reaction-buttons {
         display: none;
        }
    }
</style>
<footer class="footer">
    <div class="sharethis-inline-reaction-buttons"></div>
    <div class="footer__links">
        {% for link in site.social %}
        <a href="{{link.url}}" target="_blank" title="{{link.title}}">
            <span class="text">{{link.title}}</span>
            <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
        </a>
        {% endfor %}
    </div>
    <!-- *********************************************

 __  __     ______     __         __   __   __     __   __        __  __     ______     __    __     ______     __  __
/\ \/ /    /\  ___\   /\ \       /\ \ / /  /\ \   /\ "-.\ \      /\ \/ /    /\  __ \   /\ "-./  \   /\  __ \   /\ \/\ \
\ \  _"-.  \ \  __\   \ \ \____  \ \ \'/   \ \ \  \ \ \-.  \     \ \  _"-.  \ \  __ \  \ \ \-./\ \  \ \  __ \  \ \ \_\ \
 \ \_\ \_\  \ \_____\  \ \_____\  \ \__|    \ \_\  \ \_\\"\_\     \ \_\ \_\  \ \_\ \_\  \ \_\ \ \_\  \ \_\ \_\  \ \_____\
  \/_/\/_/   \/_____/   \/_____/   \/_/      \/_/   \/_/ \/_/      \/_/\/_/   \/_/\/_/   \/_/  \/_/   \/_/\/_/   \/_____/

        Hey there buddy,
        Lookin' at my source code, huh?
        Be sure to drop me an email at chat@kelvinkamau.app!
        I'd love to chat sometime,
        whether it's about code, community, or anything in between.

        - Wachira Kelvin Kamau
        - Software Engineer // Nairobi, Kenya

        ********************************************** -->
</footer>
