<header class="intro">
    <h1 class="intro__hello">Hello!
        <span class="emoji wave-hand animated"></span>
    </h1>

    <h2 class="intro__tagline">
        <span class="name">Kelvin Kamau</span> here, a detail oriented software engineer passionate about combining beautiful
        code with beautiful design.👨‍💻
    </h2>
        {% include employment-status.html %}
    <h3 class="intro__contact">
        <span>Get in touch </span>
        <span class="emoji pointer"></span>
        <span>
      <a href="mailto:chat@kelvinkamau.app" target="_blank" class="highlight-link">chat@kelvinkamau.app</a>
    </span>
    </h3>
</header>
