<header class="intro">
    <h1 class="intro__hello">Hello!
        <span class="emoji wave-hand animated"></span>
    </h1>

    <h2 class="intro__tagline">
        <span class="name">Kelvin Kamau</span> here, a full-stack developer keen to deliver designs & logic that adapts
        to user experience in Web & Android.👨‍💻
    </h2>
    {% include location.html %}
    <h3 class="intro__contact">
        <span>Get in touch</span>
        <span class="emoji pointer"></span>
        <span>
      <a href="mailto:chat@kelvinkamau.app?subject=Hey%20Chief,%20lets%20do%20something%20awesome" target="_blank" class="highlight-link">chat@kelvinkamau.app</a>
    </span>
    </h3>
</header>
