<header class="intro">
    <h1 class="intro__hello">Hello!
        <span class="emoji wave-hand animated"></span>
    </h1>

    <h2 class="intro__tagline">
        <span class="name">Tim</span> here, a highly motivated software developer with solid understanding of software development best practices and loves to build stuff,
                I'm also an open source hobbyist & a community mentor focused on making impacts.👨‍
    </h2>
    {% include location.html %}
    <h3 class="intro__contact">
        <span>Get in touch</span>
        <span class="emoji pointer"></span>
        <span>
      <a href="mailto:timothyolaleke@gmail.com" target="_blank"
         class="highlight-link">timothyolaleke@gmail.com</a>
    </span>
    </h3>
</header>
