<section class="section thoughts">
    <div class="section__title">A few thoughts</div>
    <div class="section__content">
        <script>
            var time = 1000;
            setTimeout(function () {
                document.querySelector('.opensource').style.display = 'block';
            }, time);

            setTimeout(function () {
                document.querySelector('.community').style.display = 'block';
            }, time * 2);

            setTimeout(function () {
                document.querySelector('.community').style.display = 'block';
            }, time * 3);

        </script>
        <div class="softwareeng animated fadeInRightBig" style="display: block">
            <h2>Why Software Engineering?</h2>
            <p>Software engineering gives me the super power to change the world through code. Getting my hands dirty
                with code enables me to create, inspire and change a life.</p>
        </div>

        <div class="opensource animated fadeInRightBig" style="display: none">
            <h2>Why Open Source?</h2>
            <p>Open Source helps me analyze and match underlying patterns within our diverse ideas and solutions so that
                we don’t have to keep reinventing the wheel. Innovating on top of existing solutions</p>
        </div>

        <div class="community animated fadeInRightBig" style="display: none">
            <h2>Why Community?</h2>
            <p>Community gives me a chance to share complementary ideas with my peers and accelerate the process of
                crafting better solutions without being distracted by the buzz, glitz and opportunities that seem to
                exist as well as a platform to showcase success stories within</p>
        </div>
    </div>
</section>